@font-face {
  font-family: "element-icons"; /* Project id 4275271 */
  src: url('iconfont.woff2?t=1697001135173') format('woff2'),
       url('iconfont.woff?t=1697001135173') format('woff'),
       url('iconfont.ttf?t=1697001135173') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-6:before {
  content: "\e623";
}

.el-icon-hotel-order:before {
  content: "\e609";
}

.el-icon-qingjiashenhe:before {
  content: "\e62a";
}

.el-icon-tuichuquanping:before {
  content: "\e670";
}

.el-icon-quanping:before {
  content: "\e66f";
}

